node_modules/
dist/
out/
release/
.DS_Store
*.log
.env
.env.*
.work_*
*.mp4
*.mov
*.mkv
*.webm
*.srt
.vscode/
.idea/
Thumbs.db
resources/bin/ffmpeg
resources/bin/ffmpeg.exe
resources/bin/ffprobe
resources/bin/ffprobe.exe
